# Django
SECRET_KEY=change-me-generate-a-long-random-secret
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# Database
# Local default uses db.sqlite3 when DATABASE_URL is empty.
# Render PostgreSQL example: postgres://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=
DATABASE_SSL_REQUIRE=False

# Email verification
# Podejście jak w SleepWatch:
# console = pokazuje wiadomość w terminalu lokalnie
# file = zapisuje wiadomości w sent_emails/
# gmail = Gmail SMTP, wymaga hasła aplikacji Google
# smtp = dowolny SMTP
EMAIL_DELIVERY_MODE=console
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=ARES <noreply@example.com>
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=twoj_adres@gmail.com
EMAIL_HOST_PASSWORD=haslo_aplikacji_google
EMAIL_TIMEOUT=20

# Production security on Render
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SECURE_SSL_REDIRECT=False

# Email verification fallback/test mode
# True = jeśli SMTP padnie, aplikacja pokaże kod awaryjny na stronie weryfikacji.
# Docelowo produkcyjnie ustaw False po poprawnym ustawieniu SMTP.
EMAIL_VERIFICATION_CODE_ON_SCREEN=True
EMAIL_VERIFICATION_LOG_CODE=True
